@charset "UTF-8";
/*General*/
html
{
    font-family: sans-serif;
}

h1, h2, h3 ,h4, h5, h6
{
    font-family: "Oxygen", sans-serif;
}


.icon-play
{
    height: 7em;
    display: none;
}

.icon-play img
{
    max-width: 100%;
    max-height: 100%;
}
.default-button
{
    display: inline-block;
    background-color: #58c4c4;
    padding: .9em 2.5em;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.default-button:hover
{
    background-color: #5ef2f2;
    transition: .6s;
}

.clear-fix::after, .row::after
{
    content: ' ';
    display: block;
    clear: both;
}
/* Header */
.top-header
{
    text-align: center;
}

.top-header-logo
{
    margin: .5em;
}


.top-nav
{
    background: #612674;
    text-align: center;
}

.top-nav ul
{
    margin: 0; 
    list-style: none;

}


.top-nav a
{
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
}

.top-nav a:hover
{
    background-color: #7c3792;
}

/*Top Content*/

.top-content
{
    padding: 1em;
    text-align: center;
    background-color: #f6f6f6;
}

.top-content-title
{
    margin: 1.375em;
    color: #612674;
    font-size: 1.375em;
}

.top-content-subtitle
{
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.5;   
}


/*Middle content*/

.middle-content
{
    padding: 2em;
    background-color: #f6f6f6;
    text-align: center;
}

.middle-content-title
{
    font-size: 1.25em;
    color: #652e78;
    font-size: uppercase;
}

.middle-content p 
{
    line-height: 1.5;
    color: #222;

}

.middle-content article span[class^=icon]
{
    font-size: 3.5em;
    color: #652e78;
}


/*Main content*/

.main-content
{
    padding: 2em;
}

.main-content-article
{
    margin-bottom: 3em;
}

.main-content p
{
    line-height: 1.2;
}

.main-content-article
{
    margin-bottom: 3.5em;
}

.main-content-title
{
    color: #652e78;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .2em;
}

/*Footer*/

.hidden
{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer
{
    background-color: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}
.footer-menushare
{
    background: #303d4c;
    padding: .5em;
}



.footer-menushare li
{
    display: inline-block;
    margin: 0 1em;
}

.footer-menushare a
{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}



@media screen and (min-width: 48.75em)
{



    .top-header-logo
    {
        float: left;
    }

    .icon-play
    {
        display: block;
    }

    .top-nav
    {
        background: transparent;
        float: right;
    }

    .top-nav ul
    {
        margin: 0;
        padding: 0;
    }

    .top-nav ul li
    {
        display: inline-block;
    }

    .top-nav a
    {
        color: #713a87;
        margin-top: 15px;
    }

    .top-nav a:hover
    {
        background-color: #e7d9fc;
    }

    .top-content
    {
        background: #521a66;

        
    }

    .top-content-title, .top-content-subtitle
    {
        color: white;
    }

    .col-1-4
    {
        width: 44%;
        margin: 3%;
        float: left;
    }

    .main-content-article .default-button
    {
        float: right;
    }

}

@media screen and (min-width:62.5em)/* 1000 / 16 */
{
    .top-content
    {
        height: 20em;
        padding-top: 15em;
        background:#521a66 url("images/bg_topo_1198x670.jpg");
        background-position: center bottom;
        background-size: cover;
    }
}


@media screen and (min-width:64em)
{
    .top-content
    {
        height: 15em;
        padding: 19em 15em 10em;
        background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("images/bg_topo_1600x1374.jpg");
        background-position: center top;
        background-size: cover;
        
    }


    .col-1-4
    {
        width: 23%;
        margin: 1%;
    }

    .col-1-2
    {
        width: 48%;
        margin: 1%;
        float: left;
    }

    .icon-play
    {
        font-size: 16px;
    }
}