/* General */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.block
{
    display: block;
}

/* Header */


.top_header
{
    background-color: rgb(122, 125, 130);
    width: 100%;
    
}

.container__header
{
    background: url("img/capa2.jpg");
    background-size: cover;
    background-position: center ;
    height: 90vh;
    width: 85%;
    position: relative;
    margin-right: auto;
    margin-left: auto;

}

.banner__header
{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    width: 400px;
    height: 200px;
    color: white;
    position: absolute;
    top: 135px;
    right: 70px;
    
}


.banner__header .title__header, .text__header
{
    text-align: center;
    padding: 5px;
   
}

.banner__header .title__header
{
    margin-top: 60px;
}


.content__header
{
    background:linear-gradient(rgba(204, 204, 204, .7) , rgba(204, 204, 204, .7));
    position: absolute;
    bottom: 0;
    padding: 40px 50px 50px 50px;
    width: 100%;

    color: rgb(29, 32, 34);
}

.content__header .content-title__header
{
    margin-bottom: 10px;
}

.content__header .content-text__header
{
    width: 480px;
}


/* Section cards */

.section-cards
{
    background: white;
    height: 650px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.card
{   
    display: flex;
    
  
}

.thumb
{
    height: 170px;
    width: 250px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: aliceblue;
    font-weight: bold;
}


.card1 .thumb
{
    background-color: rgb(120, 92, 146);

}

.card2 .thumb
{
    background-color: rgb(76, 76, 143);
}

.card3 .thumb
{
    background-color: rgb(76, 143, 98);
}


.content-card
{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.content-card .card-title__section
{
    margin-bottom: 15px;
}

/* Last section */

.last-section
{
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url("img/rodape.jpg");
    background-size:cover;
    background-position: center;
    height: 850px;
    width: 100%;
   
}


.last-section_area
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.last-section__content
{   
    /*Box Formatting */
    background-color: rgb(220, 214, 206);
    width: 350px;
    height: 250px;
    padding: 1em 2em;
    border-radius: 5px;
    margin-top: 50px;

    box-shadow: 2px 2px 5px;

    /*Display Formatting*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*Text Formatting*/
    text-align: center;
    
}



.last-section__content i
{
    font-size: 3.5em;
    margin-bottom: 25px;
}

.fa-house
{
    color: rgb(80, 48, 109);
}

.fa-brush
{
    color: rgb(76, 143, 108);
}

.fa-github
{
    color: rgb(162, 72, 72);
}



.last-section__content p 
{
    /*Text Formatting*/
    color: rgb(75, 81, 93);
    line-height: 1.8;
}

/* Form area*/

.form-area
{   
    /*Area box*/
    background-color: #ccccccbd;
    height: 360px;
    width: 600px;
    padding: 30px ;
    margin-top: 60px;
    margin-right: auto;
    margin-left:auto ;

    /*display*/
    display: block;
    
}

.box-input
{
    padding: 5px;
}

.box-input input
{
    /*Box model*/
    width: 250px;
    padding-left: 15px;
    /*Display*/
    display: block;
    /*Text formatting*/
    line-height: 2;
    
}

.box-input input::placeholder
{
    color:rgb(80, 48, 109);
    font-weight: bold; 
    
}

.box-input textarea
{
    width: 100%;
    height: 150px;
    display: block;
}


.btn-submit
{   
    background: rgba(162, 72, 72, 0.758);
    padding: 1em 2.5em;
    border: none;
    margin-top: 15px;
    margin-right: auto;
    margin-left:auto ;
    /*Display*/
    display: block;
    /*Formmating text*/
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;


}


